

.text-field {
    -fx-font-size: 13pt;
    -fx-font-family: "Consolas";
    -fx-font-weight: bold;
    -fx-font-style: italic;
    -fx-text-fill: #8B4513;
    -fx-background-color: #add8e6;
    -fx-control-inner-background: derive(#1d1d1d,20%);
}

.text-area {
    -fx-background-color: black;
    -fx-control-inner-background: #DEB887;
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 12pt;
    -fx-padding: 5 5 5 5;
}
